@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    src: url('/fonts/Ubuntu-Regular.ttf');
  }

  @font-face {
    font-family: "Ubuntu";
    font-weight: 500;
    src: url('/fonts/Ubuntu-Medium.ttf');
  }

  @font-face {
    font-family: "Ubuntu";
    font-weight: 600;
    src: url('/fonts/Ubuntu-Bold.ttf');
  }

  html {
    font-family: "Ubuntu";
  }

  h1 {
    @apply text-2xl font-bold text-primary-900 pb-1 md:text-3xl;
  }

  .subtitle {
    @apply text-grey-600 pb-8 ;
  }
}
